{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
        <h1>Flask 활용하기</h1>
        <p class="lead">검색테스트.</p>
    </div>

<div class="row">
        {% for infos in search_result %}
            <div class="col-md-4">
                <h4 id="title"> {{infos['title'].replace("</b>","").replace("<b>","")}}</h4>
                <p>{{infos['price']}}</p>
                <p>{{infos['author']}}</p>
                <p> <img src="{{infos['image']}}" /> </p>
             </div>
        {% endfor %}
    </div>

{% endblock %}